.price-calculator {
    max-width: 1000px;
    margin: 200px 50px;
    padding: 20px; ]
    border: var(--border-main);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    background-size: cover;
    font-size: 24px;
}



.price-calculator form {
    display: flex;
    flex-direction: column;
}


.price-calculator input[type="number"],
.price-calculator input[type="radio"],
.price-calculator input[type="checkbox"]{
    margin: 20px;
    padding: 10px;
}


.person-calculator label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.person-calculator {
    margin-left: 20px;
}




.price-calculator label {
    display: flex;
    align-items: center;
    margin: 5px 0;
    color: var(--text-color);
}


.price-calculator h2 {
    text-align: center;
    color: var(--text-color-2);
}






