.data-label {
    display: flex;
    flex-direction: column;
}



.inputField.short {
    width: 100px;
}

.inputField.medium {
    width: 200px;
}

.inputField.long {
    width: 300px;
}

.inputField.house-number {
    width: 70px;
}

.inputField.zip-code {
    width: 120px;
}

.inputField.message {
    width: 100%;
    height: 200px;
}
