.receipt {
    font-family: var(--font-family-receipt);
    background-color: var(--background-color-in-box);
    border: var(--border-main);
    border-radius: var(--border-radius);
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}


.receipt li {
    padding: 5px 0;
    border-bottom: var(--border-receipt);
}

.receipt li:last-child {
    border-bottom: none;
}

.receipt .total {
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
