.receipt {

    font-family: 'Courier Prime', monospace;
    background-color: var(--background-color);
    border: var(--border);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}

.receipt h1, .receipt h2 {
    text-align: center;
    margin: 0;
}

.receipt ul {
    list-style-type: none;
    padding: 0;
}

.receipt li {
    padding: 5px 0;
    border-bottom: 1px dashed var(--border-color);
}

.receipt li:last-child {
    border-bottom: none;
}

.receipt .total {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
