.event-filter-wrapper {
    width: 95%;
    max-width: 1200px;
    background-color: var(--background-color);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 20px auto;
    box-shadow: var(--box-shadow);
}

.event-filter-wrapper input[type="text"] {
    width: 100%;
    height: 40px;
}


.event-filter-wrapper input[type="checkbox"] {
    margin-left: 10px;
    margin-right: 5px;
}

.event-filter-wrapper label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-dates p {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-filter {
    display: flex;
    flex-wrap: wrap;
}

.event-dates {
    display: flex;
}


.genre-selecter {
    margin-bottom: 20px;
}

.genre-checkboxes {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.event-filter-wrapper h4 {
    margin-top: 10px;
}


@media (max-width: 768px) {
    .event-filter-wrapper {
        padding: 15px;
    }


    .event-filter-wrapper input[type="text"],
    .event-filter-wrapper input[type="date"],
    .event-filter-wrapper select {
        width: 100%;
    }
}
