.log-in-form {
    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inlog-form {
    display: flex;
    flex-direction: column;
}

.log-in-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-field input {
    margin: 20px;
    width: 300px;
}