.create-user-box {
    margin: 5px;
    padding: 20px;
    border: var(--border-main);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
}