.contact-form-container {
    max-width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    padding: 20px;
    width: 100%;
    overflow: auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.error-message {
    color: red;
}

.succes-message {
    color: green;
}


@media (max-width: 768px) {
    .contact-form-container {
        padding: 15px;
    }
}
