.contact-container {
    margin: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.contact-info p {
    font-size: 20px;
}

.contact-info a {
    color: var(--text-color);
}

.contact-info a:hover {
    color: var(--hover-text-color);
}

.contact-info-container {
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--background-color);
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
}
