
h2 {
    color: #1a1a1a;
}

nav {
    width: 100%;
    /*background-color: grey;*/
    display: flex;
    justify-content: center;
    height: 60px;
    position: relative;
}


.nav-container {
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}



.nav-container h4 {
    color: black;
    margin: 0;
}

.nav-items {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Poor Story', sans-serif; /* Pas het lettertype aan */
    font-size: clamp(18px, 1vw + 0.5rem, 32px);
    font-weight: normal; /* Stel de letterdikte in (normal, bold, etc.) */
    color: black; /* Zorg voor een leesbare kleur */
}

.nav-items li {
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-items li a {
    color: black; /* Standaard kleur */
    text-decoration: none; /* Verwijder onderstreping als dat gewenst is */
}

.nav-items li a:hover {
    color: darkgreen;
}

.nav-items-log-in {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.nav-items-log-in li {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.nav-items-log-in li a {
    color: black;
    font-size: 32px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.nav-items-log-in li a:hover {
    box-shadow: 0 0 10px lightgrey;
}

.active-menu-link {
    border-bottom: 1px solid white;
}

.default-menu-link {
    border-bottom: 1px solid transparent;
}


/* Voor kleinere schermen (tablets en kleiner) */
@media (max-width: 768px) {
    .nav-container {
        justify-content: center; /* Centreer de navigatie-items */
    }

    .nav-items {
        flex-direction: row; /* Maak de items verticaal */
        align-items: center; /* Centreer items verticaal */
        flex-basis: auto; /* Zet flex-basis op auto voor responsiviteit */
    }

    .nav-items li {
        padding: 10px; /* Verminder padding voor kleinere schermen */
    }

    .nav-items-log-in {
        margin-left: 0; /* Verwijder de marge links op kleinere schermen */
        margin-top: 10px; /* Voeg wat marge bovenaan toe */
    }
}

/* Voor mobiele schermen */
@media (max-width: 480px) {
    .nav-items {
        font-size: clamp(12px, 4vw, 24px); /* Verminder de font-grootte */
    }

    .nav-items li {
        padding: 5px 10px; /* Verminder padding voor mobiele weergave */
    }

    .nav-items-log-in li {
        padding: 5px 10px; /* Verminder padding voor de log-in sectie */
    }
}


