@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Crafty+Girls&family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);

}

h1,h2,h3,h4 {
  text-align: center;
}

h1{

}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 24px;
  font-weight: bold;
}

h4{
  font-size: 20px;

}

p {

}

.app-container {
  max-width: 1200px;
}

li {
  list-style: none;
}

:root {
  /*colors*/
  --text-color: black;
  --hover-text-color: green;
  --background-color: #fff;
  --border-color: #ccc;
  --text-color-footer: white;


  --button-background-color: darkgreen;
  --button-hover-background-color: #28a745;
  --button-text-color: white;

  /*box*/
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  --border: 1px solid var(--border-color);

/*border radius*/
  --border-radius: 5px;


  /*font styles*/
  --font-family-main: "Poor Story", sans-serif;


}




/*error/succes messages*/
.errorMessage {
  color: red;
}

.succesMessage {
  color: green;
}

/*input fields*/
.inputField {
  padding: 10px;
  margin: 5px;
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 16px;
  background-color: var(--background-color);
  color: black;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/*button*/
.button {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background: var(--button-hover-background-color);
}





